# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# OS files
.DS_Store

# Large/generated outputs
outputs/annotated/
outputs/models/
outputs/features/*.csv

# Raw image dataset
data/images/

# YOLO downloaded weights
*.pt

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/